@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	align-items: center;
}

main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 4.2vh;
	left: 3px;
}

.left {
	width: 388px;
	height: 591px;
}

.right {
	position: relative;
	left: 2vw;
	top: 2vh;
	width: 388px;
	height: 591px;
}

.border {
	border: 1px solid rgb(221, 221, 221);
}

.signin {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25vw;
	height: 60vh;
}

.logo {
	position: relative;
	width: 32vh;
	height: 13vh;
	margin-top: 3.5vh;
	margin-bottom: 3vh;
	margin-left: 0.25vw;
}

.username {
	position: relative;
	width: 70%;
	height: 7%;
	margin: 3px;
	font-size: 12px;
	border-radius: 3px;
	border: 1px solid rgb(233, 233, 233);
	background-color: #f9f9f9;
	padding: 5px;
}

.login {
	margin-top: 2vh;
	position: relative;
	font-family: Poppins;
	font-weight: bolder;
	width: 74%;
	height: 7%;
	border: 0;
	font: 15px;
	background-color: rgb(75, 180, 248);
	color: #ffffff;
	border-radius: 5px;
	padding: 5px;
}

.or {
	color: rgb(131, 131, 131);
	font-family: Poppins;
	font-size: 12px;
	font-weight: bold;
	margin: 2vh 0vw;
}

.log {
	display: flex;
}

.bi {
	padding-top: 5px;
	padding-right: 5px;
}

.blue {
	text-decoration: none;
	color: rgb(56, 81, 133);
	font-family: Poppins;
	font-weight: bold;
}

.forgot {
	font-weight: normal;
	padding-top: 5px;
	font-size: 12px;
}

.signup {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25vw;
	height: 10vh;
	margin-top: 10px;
}
.sign {
	text-decoration: none;
	color: rgb(0, 149, 246);
}

.get {
	width: 25vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.getapp {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -3vw;
}

.getlogo img {
	height: 7vh;
	width: 12vw;
}
